 <div class="row">
    <% @planets.each do |planet| %>
    <div class="col-xs-4 col-sm-12 col-md-6 col-lg-4">
      <%= link_to planet_path do %>
      <div class="planet-card">
        <div class="planet-card-image">
          <%= cl_image_tag planet.planet_pictures.first.photo %>
        </div>
        <div class="planet-card-content">
          <div class="planet-card-title">
            <h4><%= planet.name %></h4>
          </div>
          <p>Coordinates <%= planet.stellar_coordinates %></p>
          <div class="flex">
            <div class="flex">
              <h4><%= planet.capacity %> <i class="fas fa-user-astronaut"></i></h4>
            </div>
            <div class="flex ml-3">
              <h4><%= planet.price %><i class="far fa-gem"></i></h4>
            </div>
          </div>
        </div>
        <div class="planet-card-actions">
          <p></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
