<div class="show-container">
  <div class="row">
    <div class="col-12">
      <h1>Search again</h1>
      <%= form_tag planets_path, method: :get do %>
      <%= text_field_tag :search,
        params[:search],
        placeholder: "Search another planet" %>
      <% end %>
    </div>
    <div class="col-12">
      <div id="container-bloc-text">
        <h1>Check out the planets</h1>
        <% if user_signed_in? %>
          <%= link_to ' new planet', new_planet_path, class: 'button' %>
        <% end %>
      </div>
    </div>
    <% if @message.present? %>
      <div><%= @message %></div>
    <% end %>
  </div>
  <%= render 'shared/card' %>
</div>
