<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% pictures = @planet.planet_pictures %>
    <% pictures.each do |picture| %>
      <% if picture == @planet.planet_pictures.first %>
        <div class="carousel-item active">
          <%= cl_image_tag picture.photo, class: "carousel-img" %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= cl_image_tag picture.photo, class: "carousel-img" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="show-container">
  <div class="d-flex justify-content-center planet-head">
    <h1 id='planet-name'><%= @planet.name %></h1>
    <%= render 'shared/rating_stars', rating: @average_rating %>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="planet-infos">
        <div class="category bottom-separation">
          <h3><i class="far fa-file-alt"></i> Description:</h3>
          <p><%= simple_format(@planet.description) %></p>
          <p></p>
        </div>
        <div class="category bottom-separation">
          <h3><i class="fas fa-map-marker-alt"></i> Stellar Coordinates:</h3>
          <p><%= @planet.stellar_coordinates %></p>
        </div>
        <div class="category bottom-separation">
          <h3><i class="fas fa-cloud-sun"></i> Weather:</h3>
          <p><%= @planet.weather %></p>
        </div>
        <div class="category bottom-separation">
          <h3>Add a review:</h3>
          <div class="form-container">
            <%= render 'shared/review_form', planet: @planet, review: @review %>
          </div>
          <p></p>
        </div>
        <div class="category">
          <h3>All reviews</h3>
          <% @reviews.each do |review| %>
            <div class="review mb-2">
              <% user = User.find(review.user_id) %>
              <div class="review-infos d-flex">
                <div class="name">
                  <p><%= user.first_name %> <%= user.last_name %>'s review: </p>
                </div>
                <div class="rating">
                  <%= render 'shared/rating_stars', rating: review.rating %>
                </div>
              </div>
              <div class="review-content d-flex">
                <div class="content">
                  <%= simple_format(review.content) %>
                </div>
                <div class="user-modif">
                  <%= link_to edit_review_path(review) do %>
                    <i class="fas fa-pen"></i>
                  <% end %>
                  <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="booking-card">
        <h2>Book this planet</h2>
        <div id="booking-form-div" data-bookings="<%= @bookings_dates.to_json %>">
          <%= render 'shared/booking_form', planet: @planet, booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
