<div class="dashboard-container">
  <h1>Dashboard</h1>
  <div class="separator">
    <div class="wrapper"></div>
  </div>
<!-- <div class="row">
    <div class="container-title">
    <h2>My Planets</h2>
    <h2>My infos</h2>
    <h2>My bookings</h2>
  </div> -->
  </div>

  <div class="row">
    <div class="col-8 pl-1 pr-1">
      <div class=" d-flex justify-content-around ">

        <% current_user.planets.each do |planet| %>
        <%= link_to planet_path(planet) do %>
        <div class="planet_card">
          <%= cl_image_tag planet.planet_pictures.first.photo %>
          <div class="planet_body">
            <div class="planet_name"><%= planet.name %></div>
            <div class="planet_description">
              <%= simple_format(planet.description.first(150)) %>
            </div>
            <div>
              <%= link_to edit_planet_path(planet) do %>
                <i class="fas fa-edit"></i>
                <% end %>
              <%= link_to planet_path(planet), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-dumpster-fire"></i>
              <% end %>
            </div>
          </div>

          <div class="planet_infos d-flex justify-content-around">
            <div class="one-third">
              <div class="stat"><%= planet.price %>€</div>
              <div class="stat-value">Per day</div>
            </div>

            <div class="separation-around">
            </div>

            <div class="one-third">
              <div class="stat"><%= planet.capacity %></div>
              <div class="stat-value">Travelers</div>
            </div>

            <div class="separation-around">
            </div>

            <div class="one-third no-border">
              <div class="stat"><%= planet.average_rating %></div>
              <div class="stat-value">Rating</div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>





    </div>
    <div class="col-3 pl-1 pr-1">
      <div class="card-product-side">
        <% current_user.bookings.each do |booking| %>
        <div class="bookings">
          <div><strong>Visiting:</strong> <%= booking.planet.name %></div>
          <div><strong>from:</strong> <%= booking.check_in %></div>
          <div><strong>to:</strong> <%= booking.check_out %></div>
          <div><strong>people:</strong> <%= booking.travelers %> travelers</div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="container">
      <%= link_to 'add a new planet', new_planet_path, class: 'btn btn-warning' %>
      </div>

z
